<footer class="footer">
  <div class="container">
    <span class="text-muted">
      
      
      
    </span>
  </div>
</footer>

<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

    <div class="col-md-12 py-5">
      <div class="mb-5 flex-center">
          <%= link_to "Cheat Sheet", cheat_sheet_path %>
          <%= link_to "Plastic Waste Calculator", '/' %>
          <%= link_to "Voyager Foundation", 'https://voyagerfoundation.org' %>
      </div>
    </div>


  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://voyagerfoundation.org"> VoyagerFoundation.org</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->