<nav class="navbar fixed-bottom navbar-dark bg-dark navbar-brand font-weight-light text-center m-0 footer">
  <a href="https://voyagerfoundation.org">
    © 2018 Copyright: VoyagerFoundation.org
  </a>
</nav>
