%div
  .container
    %h3 About

    %p 
      MyFootprint.world goal is to:
      %ul
        %li show people how significant their daily life has the impact on our planet
        %li educate them about the nature of the problem
        %li show them what they can do to make a change
        %li connect to people who are role models in movement

    %p 
      Areas of personal footprint we are looking to explore:
      %ul
        %li plastic waste 
        %li food 
        %li living space
       
    %p We want to work with everyone to make this as most meaningful and impactful as possible. 

    