%div
  .container
    %h3 About

    %p 
      MyFootprint.world goal is to:
      %ul
        %li show people how significant impact their daily life has on our planet
        %li educate them about the nature of the problem
        %li show them what they can do to make a change
        %li connect to people who are role models in movement

    