%div
  .container
    %h3  Mission
    
    %p 
      :markdown
        Making **sustainable** decisions is one of the most important things we need to learn as individuals, organisations and all together. What you buy, what you eat, how you travel, what you do and not do will have an impact on the large picture. We need to understand what are the consequences of each our decision, address this in our economy, regulations and culture. 
        To achieve this goal, we need to learn and measure our decisions, then explore alternatives. 

    %p.pt-4 
      %h5.text-center Myfootprint.world is a platform that aims to help us to optimise the consequences of our consumption and waste. 
      %h5.text-center We want to measure people footprint and reward sustainable decisions working with partners across the globe. 

    %p.pt-4 
      %h5 MyFootprint.world goal is to:
      %ul
        %li show people how significant impact their daily life has on our planet
        %li educate them about the nature of the problem
        %li show them what they can do to make a change
        %li connect to people who are role models in movement
        %li help companies to become more sustainable

    %p 
      %h5 Areas of personal footprint we are looking to explore:
      %ul
        %li plastic, packaging, everyday use items 
        %li food 
        %li energy & trantsport 
       
    %p We want to work with everyone to make this as most meaningful and impactful as possible. 
