<div class="container cheat-sheet">
  <h2>Looking for contributors</h2>

  <p>
    We are looking for contrubutors that will help us with development of initiative and application. 
    <hr />
    <h5>Business opportunities: </h5>
    <ul>
      <li>Business development</li>
      <li>Project Owner / Manager</li>
    </ul>
    <h5>Technical opportunities:</h5>
    <ul>
      <li>UI/UX designer</li>
      <li>Full stack developer ( Ruby on Rails & React )</li>
    </ul>
    <h5>Other:</h5>
    <ul>
      <li>Researcher</li>
    </ul>
  </p>

  <h3>Roadmap</h3>
  <p>
    <ul>
      <li>Reporting for Plastic Waste Calculator</li>
      <li>Advanced Reporting for Plastic Waste Calculator</li>
      <li>Social Media Share</li>
      <li>Improve Cheet Sheet for Plastic ( Knowledgbase )</li>
      <li>Guides - what you can do to reduce waste.</li>
      <li>Community - linkint to influencrs, actyvists and stories.</li>
      <li>Photo gallery.</li>
    </ul>
  </p>

  <h3>How to apply?</h3>
  Contact us via <a href="https://www.facebook.com/Voyager-Foundation" >Facebook <i class="fab fa-facebook"></i></a>

</div>