// Place all the styles related to the CheatSheet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cheet-sheet {
  font-family: Lato; 
  margin: 10px;

  .cs-link-fact {
    width: 100%;
    text-align: right;

    a { 
      color: white;
      font-style: italic;
    }
  }
}

.fact {
  padding-top: 2em;
  border-radius: 25px;
  color: white;
  padding: 20px; 
  width: 1000px;    
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#72a3ff+0,acabff+100 */
  background: #72a3ff; /* Old browsers */
  background: -moz-linear-gradient(45deg, #72a3ff 0%, #acabff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #72a3ff 0%,#acabff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #72a3ff 0%,#acabff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72a3ff', endColorstr='#acabff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.cs-small-title {
  font-size: 1em;
  font-style: italic;
  text-align: center;
  padding: 5px;
}

.fact-content {
  padding: 10px;
}

.add-plastic-element {
  width: 30px;
  height: 30px;
  background-image: url('/assets/images/add_button.png');
}

.amount {
  vertical-align: auto;
  text-align: center;
  width: 50px;
}

.button-cell {
  width: 35px;
}

.calc-table td {
  vertical-align: middle !important;
}
