// Place all the styles related to the PlasticCalculator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  display: flex; /* or inline-flex */
}

.calculator {
  margin-top: 20px; 
  font-family: Lato; 
}

.disclaimer {
  font-size: 0.5 em;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
}